nav {
    background-color: #2c3e50;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.nav-linkler {
    display: flex;
    list-style: none;
    gap: 20px;
}


.team-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px;
    flex-wrap: wrap; 
}


.card {
    width: 280px;
    height: 380px;
    perspective: 1000px; 
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease-in-out; 
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg); 
}

.card-front, .card-back {
    position: absolute; 
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card-front img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card-back {
    background-color: #ecf0f1;
    transform: rotateY(180deg); 
    padding: 20px;
    text-align: center;
}